<!DOCTYPE html>
<html>
<head>

  <title>Push Notification with firebase cloud messaging</title>

  <link rel="manifest" href="manifest.json">

</head>

<body>

  <h1>Push Notification</h1>

  <p>This is a progressive web app</p>
  <p>
    Inorder to work properly it should be served over https or localhost
  </p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script type="text/javascript">
    window.vapidPublicKey = "<%= decodedVapidPublicKey %>";
</script>
  <script src="js/main.js"></script>

</body>
</html>
